Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  cppcoreguidelines-owning-memory,
  cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  cppcoreguidelines-pro-bounds-constant-array-index,
  clang-analyzer-*
WarningsAsErrors: ''
HeaderFilterRegex: 'src/.*'
